<!doctype html>
<html lang="en">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" />
  <meta charset="utf-8" />

  <title>reveal.js</title>
  <meta content="A framework for easily creating beautiful presentations using HTML"
  name="description" />
  <meta content="Hakim El Hattab" name="author" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style" />
  <link href="/css/reveal.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/theme/default.css" id="theme" rel="stylesheet" type="text/css" />
  <link href="/js/lib/css/zenburn.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <section class="slide">
        <h1>Hello</h1>
      </section>
      <section class="slide">
        <h2>World</h2>
      </section>
    </div>
  </div><script src="/js/lib/js/head.min.js" type="text/javascript">
</script><script src="/js/reveal.min.js" type="text/javascript">
</script><script src="/js/reveal.init.js" type="text/javascript">
</script>
</body>
</html>

